{% extends 'base.html' %}

{% block content %}

<div class="page-header">
</div>

<div class="container">
  <form action="." method="post">{% csrf_token %}
    <table class="table">
      {{ form }}
    </table>
    <input type="submit"
           value="Submit"
           class="btn btn-lg btn-warning btn-block" />
  </form>
</div><!--./container -->

{% endblock %}
