{% extends 'base.html' %}

{% block content %}
  <table class="table">
    <tr>
      <th>User Name</th>
      <th>Survey Name</th>
      <th>Date Completed</th>
      <th>Score</th>
    </tr>
    {% for result in result_list %}
      <tr>
          <td><a href="{% url 'assessment:result_by_user' result.user %}">{{ result.user.username }}</a></td>
          <td><a href="{% url 'assessment:result_by_survey' result.survey.slug %}">{{ result.survey.name }}</a></td>
          <td>{{ result.completed_on }}</td>
          <td><a href="{{ result.get_absolute_url }}">{{ result.score }}</a></td>
      </tr>
    {% endfor %}
  </table>
{% endblock %}
