{% extends 'base.html' %}

{% block content %}

<div class="page-header">
  <p><strong>Survey Name: {{ result.survey }}</strong></p>
  <p><em>Answered By: {{ result.user }}</em></p>
  <p><em>Score: {{ result.score }}</em></p>
  <p><em>Percentage: {{ result.score_percentage }}%</em></p>
</div><!--./page-header -->

<div class="container">
  <table class="table">
    <tr>
      <th>Question</th>
      <th>Answer</th>
    </tr>
    {% for answer in result.answers.all %}
    <tr>
      <td>{{ answer.question }}</td>
      <td>{{ answer }}</td>
    </tr>
    {% endfor %}
    </table>
</div><!--./container -->

{% endblock %}
