{% extends 'base.html' %}

{% block content %}
  <table class="table">
    <tr>
      <th>Survey Name</th>
      <th>Date Completed</th>
      <th>Score</th>
    </tr>
    {% for result in results %}
      <tr>
          <td><a href="{{ result.get_absolute_url }}">{{ result.survey.name }}</a></td>
          <td>{{ result.completed_on }}</td>
          <td>{{ result.score }}</td>
      </tr>
    {% endfor %}
  </table>
{% endblock %}
